$color0: #FEFEFE;
$color1: #15191E; 
$color2: #181E24;
$color3: #1D242C;
$color4: #394139;
$color5: #777777;
$color6: #89B034;
$color7: #A1EC00;
$color8: #C2FF40;
$color9: #F44343;
$color10: #DF9B35;

/** Colors **/

    /** font-colors **/
    .color1{
        color: $color1;
    }

    .color2{
        color: $color2;
    }

    .color3{
        color: $color3;
    }

    .color4{
        color: $color4;
    }

    .color5{
        color: $color5;
    }

    .color6{
        color: $color6;
    }

    .color7{
        color: $color7;
    }

    .color8{
        color: $color8;
    }

    .color9{
        color: $color9;
    }

    .color0{
        color: $color0;
    }

    .color10{
        color: $color10;
    }
    /** background-colors **/
    .bg-color1{
        background-color: $color1;
    }

    .bg-color2{
        background-color: $color2;
    }

    .bg-color3{
        background-color: $color3;
    }

    .bg-color4{
        background-color: $color4;
    }

    .bg-color5{
        background-color: $color5;
    }

    .bg-color6{
        background-color: $color6;
    }

    .bg-color7{
        background-color: $color7;
    }

    .bg-color8{
        background-color: $color8;
    }

    .bg-color9{
        background-color: $color9;
    }
    
    .bg-color0{
        background-color: $color0;
    }

    .bg-color10{
        background-color: $color10;
    }

/** Fonts **/
.font-bold{
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 20px;
    letter-spacing: 0.07em;
}

.font-semibold{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.font-medium{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.font-regular{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

/** Margin & Padding **/
.margin-xl{
    margin: 60px;
}

.padding-xl{
    padding: 60px;
}

.margin-l{
    margin: 30px;
}

.padding-l{
    padding: 30px;
}

.margin-m{
    margin: 25px;
}

.padding-m{
    padding: 25px;
}

.margin-s{
    margin: 15px;
}

.padding-s{
    padding: 15px;
}

.margin-xs{
    margin: 5px;
}

.padding-xs{
    padding: 5px;
}

/** Buttons **/
.button{
    display: flex;
    width: 142px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.border-green{
    border: solid 1px $color7;
    box-sizing: border-box;
}

.border-green{
    border: solid 1px $color3;
    box-sizing: border-box;
}

/** Special design system page **/


body{
    background-color: #181E24;
    margin:0 10%; 
    font-family: Poppins;
}

#designSystemColors{
    display: flex;
    //width: 1186px;
    height: 195px;
    flex-direction: column;
    justify-content: space-around;

    //border: 1px white solid;
}

.colors-round{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

#roundColor{    
    display: flex;
    justify-content: space-around;
    background: linear-gradient(270deg, rgba(21,25,30,1) 0%, rgba(194,255,64,1) 100%);
}

.designBloc{    
    display: flex; 
    justify-content: space-between;  
    margin-bottom: 20px;
    height: 100px;   
    
    .designPart{              
       background-color: gainsboro;
       width: 50%;       
       align-items: center;
       justify-content: center;    
       display: inherit; 
    }

    .design{
        border-right: $color1 solid 10px;
       }
}

#ID-margin-xl{
    width: 60px;
    height: 60px;
}

#ID-margin-l{
    width: 30px;
    height: 30px;
}

#ID-margin-m{
    width: 25px;
    height: 25px;
}

#ID-margin-s{
    width: 15px;
    height: 15px;
}

#ID-margin-xs{
    width: 5px;
    height: 5px;
}