:root{
  --nav-bg:#181E24;
  --bg:#10151C;
  --primary:#A1EC00;
  --primary-dark:#89B034;
  --primary-light:#d7ff54;

  --font:#797979;
  --font-secondary:#2c3e50

}

 //Responsive
 $sm:640px;
 $md:768px;
 $lg:1024px;
 $xl:1280px;
 $xxl:1536px;