$old-bg:#FFFBFE;
$old-primary:#73B62B;
$old-secondary:#DE9E36;
$old-text:#565254;

$old-bg-dark:#12130F;
$old-primary-dark:#73B62B;
$old-secondary-dark:#FFBA49;
$old-text-dark:#FFEBFD;

//Nouvelle proposition de couleur
$bg:#00190D;
$primary:#64dd17;
$primary-light:#9cff57;
$primary-dark:#1faa00;
$secondary:#fff99e;
$secondary-light:#ffffd0;
$secondary-dark:#cbc66e;
$text:#fff;
