//Variables
@import "vars";

//fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

//CSS Reset
@import "reset";

body {
    width: 100%;
    margin: 0;
    font: 1.6rem/1.25 "Poppins","Bebas Neue", sans-serif;
    background-color: var(--bg);
    color: var(--font);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }